name: Build and push fresh image
on:
  workflow_dispatch:
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d')"
      
    - name: 'Checkout code'
      uses: actions/checkout@main

    - name: 'Login to GitHub container registry'
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}

    - name: 'Build and push'
      run: |
        docker build . -t ghcr.io/tabithamoon/avbroot-docker:latest -t ghcr.io/tabithamoon/avbroot-docker:${{ steps.date.outputs.date }}
        docker push ghcr.io/tabithamoon/avbroot-docker:latest
        docker push ghcr.io/tabithamoon/avbroot-docker:${{ steps.date.outputs.date }}
